.t {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab {
  overflow: hidden;
  margin-bottom: 15px;
}

.tab>div {
  padding: 5px 40px;
  background-color: #eee;
  color: #fff;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tab>div.jj {
  background-color: #6BB746;
}

.tab>div.mz {
  background-color: #BE8E6E;
}

.tab>div.nz {
  background-color: #70777D;
}

.pa {
  padding-left: 0;
  padding-right: 0;
}

.hide {
  display: none;
}

.naving {
  background-color: #ffccff;
  padding: 5px 30px;
}

.cleacfix {
  overflow: hidden;
}

.nav-left>div:not(.logo),
.nav-right>div {
  float: left;
  padding: 0 30px;
  line-height: 50px;
  cursor: pointer;
  transition: background-color .35s;
  position: relative;
}

.nav-left>div:not(.logo):hover,
.nav-right>div:not(.nickname):hover {
  background-color: #33ffff;
}

.nav-left>div.logo {
  float: left;
  margin-right: 30px;
}

.auto-img {
  width: 100%;
  height: auto;
  display: block;
}

.logo {
  width: 50px;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 0;
  padding-top: 2px;
  background-color: #33ff;
  transition: width .35s;
}

.nav-tab:hover .line {
  width: 100%;
}

.nav-active {
  background-color: #33ffff;
}

.nav-active .line {
  width: 100%;
}
.nav>li{
  cursor: pointer;
}
td,th{
  text-align: center;
  line-height: 149px;
  font-size: 17px;
}
th:hover{
  background: #33ffff;
}